# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.deb
*.rpm
*.tar.gz


# Logs and databases #
######################
*.log
*.sql
*.sqlite

#Python
*.pyo
*.pyc
.venv/


# Script Specific #
######################
*.log
*.gpg
*.gpg.*
*.asc
*.asc.*
*.deb
*.deb.*
*.pub
*.pub.*
*.list.save
*.key
*.key.*
Release*
*.deb
*.deb.*
*.AppImage
*.bundle
*.run
.RHASH


# Project specific #
######################
*.old
*.list
*.ignore
.ae*


# Jekyll #
######################
*.scssc
**/.saas-cache/*
.jekyll-metadata
**/_site/**
**/site/**


## Custom ##
.envrc
RELEASE_NOTES.md
docs/changelog.md
