# Project information
site_name: After Effects
site_description: Effortless & Simple post-installation script for Ubuntu, Linux Mint and Debian
site_author: Prasad Tengse
site_url: https://ae.prasadt.com/
docs_dir: 'docs'
site_dir: '_site/'
# Repository
repo_name: ubuntu-post-install
repo_url: https://github.com/tprasadtp/ubuntu-post-install
edit_uri: "blob/master/docs/"
remote_branch: master
remote_name: origin

# Copyright
copyright: 'Copyright &copy; 2017-2020 Prasad Tengse'

# Configuration
theme:
  name: material
  icon:
    logo: material/book
    repo: fontawesome/brands/github-alt
  features:
    - tabs
  # Language settings
  language: en
  # Color Settings
  palette:
    scheme: slate
    primary: orange
    accent: cyan
  # Fonts
  font:
    text: Ubuntu
    code: Ubuntu Mono
  # Custom Favicon
  favicon: assets/images/favicon.png

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

# extra:
#   social:
#     - type: fontawesome/solid/globe
#       link: https://ae.prasadt.com
#     - type: fontawesome/brands/github-alt
#       link: https://github.com/tprasadtp
# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: true
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: tprasadtp
      repo: ubuntu-post-install
# Page tree
nav:
  - Home: index.md
  - FAQ:
    - Dependencies: faq/dependencies.md
    - Distros: faq/distros.md
    - Errors: faq/errors.md
    - Exit Codes: faq/exit-codes.md
    - Debugging: faq/debug.md
  - Options: clioptions.md
  - Tasks: tasks.md
  - Configuration: configuration.md
  - Example Config: yaml.md
  - Logs: logs.md
  - Testing: testing.md
  - Changelog:
    - changelog.md
  - License: license.md

# Google Analytics
google_analytics:
  - UA-101760811-5
  - auto

plugins:
  - search:
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: timeago
